*{
    margin: 0;
}

.formezada{
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 30%;
    gap: 30px;
    margin: 20px;
    
}

.solicitacoes{
    display: flex;
    flex-direction: column;
}